@font-face {
	font-family: 'Wisdom Script';
	scr: url("../fonts/Wisdom Script AJ.woff") format ("woff");
	scr: url("../fonts/Wisdom Script AI.woff2") format ("woff2");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'DroidSerif';
	scr: url("../fonts/droidserifitalic.woff") format ("woff");
	scr: url("../fonts/droidserifitalic.woff2") format ("woff2");
	font-style: italic;
  	font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*-----------FONTS-----------*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	display: block;
}

h1 {
	font-family: Montserrat;
	color: #222222;
	font-weight: 700;
}

h2 {
	color: #777777;
	font-family: "Droid Serif";
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
}

p {
	color: #777777;
	font-family: "Roboto Slab";
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.35px;
}
/*-----------ALL STYLES-----------*/
.header {
	width: 940px;
	margin: 0 auto 127px;
	margin-top: 44px;
	display: flex;
	justify-content: space-between;
}

.header-logo {
	font-family: 'Wisdom Script';
	font-size: 26px;
	color: #fed136;
	text-decoration: none;
}

.menu {
	list-style-type: none;
	display: flex;
	width: 480px;
	justify-content: space-between;
	align-items: flex-end;
}

.menu-item a {
	font-family: Montserrat;
	font-weight: 400;
	color: #222222;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: 200ms;
}

.menu-item a:hover {
	color: #fed136;
	transition-duration: 200ms;
}
/*-----------HEADER-----------*/

.main {
	margin: 0 auto;
}

.services {
	width: 940px;
	margin: 0 auto 120px;
	text-align: center;
}

.services-h1 {
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: -1px;
	margin-bottom: 19px;
}

.services-h2 {
	margin-bottom: 80px;
}

.services-list{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.list-item::before {
	display: block;
	content: "";
	width: 68px;
	height: 67px;
	border: 3px solid #fed136;
	border-radius: 50%;
	margin: 0 auto 28px;
	background-image: url(../images/icon-basket.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.locked::before {
	background-image: url(../images/icon-locked.png);
}

.laptop::before {
	background-image: url(../images/icon-laptop.png);
}

.list-item {
	width: 274px;
}

.list-item h1 {
	margin-bottom: 15px;
}
/*-----------MAIN SERVICES-----------*/

.cover {
	background-color: #222222;
	/*height: 676px;*/
	background-image: url(../images/map.png);
	background-size: 614px 537px;
	background-repeat: no-repeat;
	background-position: right bottom 19px;
}

.contact {
	width: 940px;
	margin: 0 auto;
	
}

.contact h1 {
	text-align: center;
	padding-top: 110px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 40px;
	letter-spacing: -1px;
	margin-bottom: 23px;
}

.contact h2 {
	text-align: center;
	margin-bottom: 75px;
}

/*-----------FORM-----------*/

.contact__form {
	padding-bottom: 114px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.wrapper-inputs {
	width: 455px;
}

.contact__form-input, 
.contact__form-message {
	font-family: Montserrat;
	color: #bbbbbb;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.35px;
	border: 0;
	border-radius: 3px;
	padding-left: 20px;
}

.contact__form-input {
	width: 455px;
	height: 50px;

}

.contact__form-input:not(:last-child) {
	margin-bottom: 29px;
}

.contact__form-input::placeholder,
.contact__form-message::placeholder {
  text-transform: uppercase;
}

.contact__form-input:focus,
.contact__form-message:focus {
  outline: none;
}

.contact__form-input:required:focus:valid:not(:placeholder-shown),
.contact__form-message:required:focus:valid:not(:placeholder-shown) {
  border: 1px solid green;
}

.contact__form-input:required:focus:invalid:not(:placeholder-shown),
.contact__form-message:required:focus:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}

.contact__form-message {
	width: 455px;
	height: 210px;
	padding-top: 20px;
}

.contact__form-btn {
	display: block;
	margin: 0 auto;
	width: 240px;
	height: 66px;
	background-color: #fed136;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	border: 0;
	border-radius: 5px;
}
